##### Cleaning and preparing data in Python

In [1]:
from csv import reader
opened_file = open(r"C:\Users\ajaya\Downloads\artworks (1).csv")
read_file = reader(opened_file)
moma = list(read_file)
num_rows = len(moma)
print(num_rows)

16726

In [2]:
from csv import reader
opened_file = open(r"C:\Users\ajaya\Downloads\artworks (1).csv")
read_file = reader(opened_file)
moma = list(read_file)
opened_file.close()
moma = moma[1:]
print(moma[0])

['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', '(American)', '(1947)', '(2013)', '(Female)', '1986', 'Prints & Illustrated Books']

In [3]:
age1 = "I am thirty-one years old"
age2 = age1.replace('one', 'two')
print(age2)

I am thirty-two years old

In [4]:

for row in moma:
    nationality_moma = row[2]
    remove_open_paranthesis = nationality_moma.replace("(","")
    remove_closed_paranthesis = remove_open_paranthesis.replace(")","")
    row[2] = remove_closed_paranthesis
    
    nationality_moma = row[5]
    remove_open_paranthesis = nationality_moma.replace("(","")
    remove_closed_paranthesis = remove_open_paranthesis.replace(")","")
    row[5] = remove_closed_paranthesis

In [5]:
for row in moma:
    gender = row[5]
    gender= gender.title()
    if not  gender:
        gender = "Gender Unknown/Other"
    row[5] = gender
    
    
    nationality = row[2]
    nationality = nationality.title()
    if not  nationality:
        nationality = "Nationality Unknown"
    row[2] = nationality

In [6]:
def clean_and_convert(date):
    # check that we don't have an empty string
    if date != "":
        # move the rest of the function inside
        # the if statement
        date = date.replace("(", "")
        date = date.replace(")", "")
        date = int(date)
    return date
for row in moma:
    birth_date = row[3]
    death_date = row[4]
    
    birth_date = clean_and_convert(birth_date)
    death_date = clean_and_convert(death_date)
    
    row[3] = birth_date
    row[4] = death_date

In [7]:
test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]

bad_chars = ["(",")","c","C",".","s","'", " "]
def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char,"")
    return string

stripped_test_data = [ ]
for d in test_data:
    date = strip_characters(d)
    stripped_test_data.append(date)

In [8]:
test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]

bad_chars = ["(",")","c","C",".","s","'", " "]

def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char,"")
    return string

stripped_test_data = ['1912', '1929', '1913-1923',
                      '1951', '1994', '1934',
                      '1915', '1995', '1912',
                      '1988', '2002', '1957-1959',
                      '1955', '1970', '1990-1999']
def process_date(date):
    if "-" in date:
        split_date = date.split("-")
        date_one = split_date[0]
        date_two = split_date[1]       
        date = (int(date_one) + int(date_two)) / 2
        date = round(date)
    else:
        date = int(date)
    return date

processed_test_data = []

for d in stripped_test_data:
    date = process_date(d)
    processed_test_data.append(date)

for row in moma:
    date = row[6]
    date = strip_characters(date)
    date = process_date(date)
    row[6] = date

In [9]:
artist = "Pablo Picasso"
birth_year = 1881
template = "{name}'s birth year is {year}"
output = template.format(name=artist, year=birth_year)
print(output)

Pablo Picasso's birth year is 1881

In [10]:
pop_millions = [
    ["China", 1379.302771],
    ["India", 1281.935991],
    ["USA",  326.625791],
    ["Indonesia",  260.580739],
    ["Brazil",  207.353391],
]
template = "The population of {} is {:,.2f} million"

for country in pop_millions:
    name = country[0]
    pop = country[1]
    output = template.format(name, pop)
    print(output)

The population of China is 1,379.30 million
The population of India is 1,281.94 million
The population of USA is 326.63 million
The population of Indonesia is 260.58 million
The population of Brazil is 207.35 million