In [1]:
import sqlite3
conn = sqlite3.connect(r"C:\Users\ajaya\Downloads\superstore.db")
cur = conn.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
for table in tables:
    print(table[0])

managers
returns
orders

### Understanding Data Types

In [2]:
cur.execute("select sales ,discount,profit from orders LIMIT 5")
for row in cur:
    print(row)

(261.96, 0.0, 41.9136)
(731.94, 0.0, 219.582)
(14.62, 0.0, 6.8714)
(957.5775, 0.45, -383.031)
(22.368, 0.2, 2.5164)

In [3]:
####Table Information with PRAGMA
cur.execute("PRAGMA table_info(orders);")
for row in cur:
    print(row)
#print(cur.fetchall())

(0, 'order_id', 'TEXT', 0, None, 0)
(1, 'order_date', 'TEXT', 0, None, 0)
(2, 'ship_date', 'TEXT', 0, None, 0)
(3, 'ship_mode', 'TEXT', 0, None, 0)
(4, 'customer_id', 'TEXT', 0, None, 0)
(5, 'customer_name', 'TEXT', 0, None, 0)
(6, 'segment', 'TEXT', 0, None, 0)
(7, 'country', 'TEXT', 0, None, 0)
(8, 'city', 'TEXT', 0, None, 0)
(9, 'state', 'TEXT', 0, None, 0)
(10, 'postal_code', 'TEXT', 0, None, 0)
(11, 'region', 'TEXT', 0, None, 0)
(12, 'product_id', 'TEXT', 0, None, 0)
(13, 'category', 'TEXT', 0, None, 0)
(14, 'subcategory', 'TEXT', 0, None, 0)
(15, 'product_name', 'TEXT', 0, None, 0)
(16, 'sales', 'REAL', 0, None, 0)
(17, 'quantity', 'INTEGER', 0, None, 0)
(18, 'discount', 'REAL', 0, None, 0)
(19, 'profit', 'REAL', 0, None, 0)

#### Operations on Numeric Columns

In [4]:
cur.execute('''select order_id, sales, profit,profit/sales AS profit_margin
FROM orders 
LIMIT 8;''')

for row in cur:
    print(row)

('CA-2016-152156', 261.96, 41.9136, 0.16000000000000003)
('CA-2016-152156', 731.94, 219.582, 0.3)
('CA-2016-138688', 14.62, 6.8714, 0.47000000000000003)
('US-2015-108966', 957.5775, -383.031, -0.4)
('US-2015-108966', 22.368, 2.5164, 0.1125)
('CA-2014-115812', 48.86, 14.1694, 0.29)
('CA-2014-115812', 7.28, 1.9656, 0.27)
('CA-2014-115812', 907.152, 90.7152, 0.09999999999999999)

 ### Integer Division

In [5]:
cur.execute('''SELECT product_id,quantity,CAST(quantity AS REAL)/2  AS even_or_odd
from orders
LIMIT 5;''')
for row in cur:
    print(row)

('FUR-BO-10001798', 2, 1.0)
('FUR-CH-10000454', 3, 1.5)
('OFF-LA-10000240', 2, 1.0)
('FUR-TA-10000577', 5, 2.5)
('OFF-ST-10000760', 2, 1.0)

### Functions on Fields: ROUND()

In [6]:
cur.execute('''SELECT  order_id,
sales,quantity,ROUND(sales/quantity) AS price_per_unit
from orders 
LIMIT 10;''')
for row in cur:
    print(row)

('CA-2016-152156', 261.96, 2, 131.0)
('CA-2016-152156', 731.94, 3, 244.0)
('CA-2016-138688', 14.62, 2, 7.0)
('US-2015-108966', 957.5775, 5, 192.0)
('US-2015-108966', 22.368, 2, 11.0)
('CA-2014-115812', 48.86, 7, 7.0)
('CA-2014-115812', 7.28, 4, 2.0)
('CA-2014-115812', 907.152, 6, 151.0)
('CA-2014-115812', 18.504, 3, 6.0)
('CA-2014-115812', 114.9, 5, 23.0)

### Functions on Fields: UPPER() and LOWER()

In [7]:
cur.execute('''select LOWER(customer_name) AS customer_name_lower from orders
LIMIT 10;''')
for row in cur:
    print(row)

('claire gute',)
('claire gute',)
('darrin van huff',)
("sean o'donnell",)
("sean o'donnell",)
('brosina hoffman',)
('brosina hoffman',)
('brosina hoffman',)
('brosina hoffman',)
('brosina hoffman',)

#### Concatenating Fields

In [8]:
cur.execute('''SELECT order_id, 
       region, 
       state, 
       "Superstore " || city AS local_store
  FROM orders
 LIMIT 10;''')
 
for row in cur:
    print(row)

('CA-2016-152156', 'South', 'Kentucky', 'Superstore Henderson')
('CA-2016-152156', 'South', 'Kentucky', 'Superstore Henderson')
('CA-2016-138688', 'West', 'California', 'Superstore Los Angeles')
('US-2015-108966', 'South', 'Florida', 'Superstore Fort Lauderdale')
('US-2015-108966', 'South', 'Florida', 'Superstore Fort Lauderdale')
('CA-2014-115812', 'West', 'California', 'Superstore Los Angeles')
('CA-2014-115812', 'West', 'California', 'Superstore Los Angeles')
('CA-2014-115812', 'West', 'California', 'Superstore Los Angeles')
('CA-2014-115812', 'West', 'California', 'Superstore Los Angeles')
('CA-2014-115812', 'West', 'California', 'Superstore Los Angeles')

### Constant Value

In [9]:
cur.execute("select *,51000 from  managers;")
for row in cur.fetchall():
    print(row)

('Anna Andreadi', 'West', 51000)
('Chuck Magee', 'East', 51000)
('Kelly Williams', 'Central', 51000)
('Cassandra Brandow', 'South', 51000)

In [10]:
cur.execute('''SELECT city || ", " || state || " " || postal_code AS address,
	   sales,
       ROUND(sales + 4.99 + sales*0.07, 2) AS total_cost,
	   ROUND(sales * 0.07, 2) AS tax,
	   4.99 AS shipping_cost
  FROM orders
 LIMIT 10;''')

for row in cur:
    print(row)

('Henderson, Kentucky 42420', 261.96, 285.29, 18.34, 4.99)
('Henderson, Kentucky 42420', 731.94, 788.17, 51.24, 4.99)
('Los Angeles, California 90036', 14.62, 20.63, 1.02, 4.99)
('Fort Lauderdale, Florida 33311', 957.5775, 1029.6, 67.03, 4.99)
('Fort Lauderdale, Florida 33311', 22.368, 28.92, 1.57, 4.99)
('Los Angeles, California 90032', 48.86, 57.27, 3.42, 4.99)
('Los Angeles, California 90032', 7.28, 12.78, 0.51, 4.99)
('Los Angeles, California 90032', 907.152, 975.64, 63.5, 4.99)
('Los Angeles, California 90032', 18.504, 24.79, 1.3, 4.99)
('Los Angeles, California 90032', 114.9, 127.93, 8.04, 4.99)