In [1]:

import sqlite3
conn = sqlite3.connect(r"C:\Users\ajaya\Downloads\superstore.db")
cur = conn.cursor()
response = cur.execute('''
SELECT order_id, product_name, sales, quantity,
       CASE 
       WHEN sales BETWEEN 0 AND 50 THEN 'small sale'
       WHEN sales BETWEEN 51 AND 100 THEN 'medium sale'
       ELSE 'large sale'
       END AS sales_amount                        
  FROM orders
 WHERE order_id LIKE 'CA%'
 ORDER BY quantity
 LIMIT 10;
 ''')
for all in response:
    print(all)

('CA-2015-115742', 'Global Leather Task Chair, Black', 89.99, 1, 'medium sale')
('CA-2016-111682', 'Prang Dustless Chalk Sticks', 1.68, 1, 'small sale')
('CA-2016-106075', 'Avery Binding System Hidden Tab Executive Style Index Sets', 4.616, 1, 'small sale')
('CA-2016-127208', '1.7 Cubic Foot Compact "Cube" Office Refrigerators', 208.16, 1, 'large sale')
('CA-2014-139451', 'Sortfiler Multipurpose Personal File Organizer, Black', 21.39, 1, 'small sale')
('CA-2017-155558', 'Logitech\xa0LS21 Speaker System - PC Multimedia - 2.1-CH - Wired', 19.99, 1, 'small sale')
('CA-2016-109806', 'Xerox 1995', 6.48, 1, 'small sale')
('CA-2017-119004', 'Speck Products Candyshell Flip Case', 27.992, 1, 'small sale')
('CA-2017-119004', 'Newell Chalk Holder', 3.304, 1, 'small sale')
('CA-2016-145583', 'Xerox 1880', 35.44, 1, 'small sale')

### Reading from table

In [2]:
result = cur.execute("SELECT * FROM orders LIMIT 5")
for row in result:
    print(row)

('CA-2016-152156', '2016-11-08', '2016-11-11', 'Second Class', 'CG-12520', 'Claire Gute', 'Consumer', 'United States', 'Henderson', 'Kentucky', '42420', 'South', 'FUR-BO-10001798', 'Furniture', 'Bookcases', 'Bush Somerset Collection Bookcase', 261.96, 2, 0.0, 41.9136)
('CA-2016-152156', '2016-11-08', '2016-11-11', 'Second Class', 'CG-12520', 'Claire Gute', 'Consumer', 'United States', 'Henderson', 'Kentucky', '42420', 'South', 'FUR-CH-10000454', 'Furniture', 'Chairs', 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 731.94, 3, 0.0, 219.582)
('CA-2016-138688', '2016-06-12', '2016-06-16', 'Second Class', 'DV-13045', 'Darrin Van Huff', 'Corporate', 'United States', 'Los Angeles', 'California', '90036', 'West', 'OFF-LA-10000240', 'Office Supplies', 'Labels', 'Self-Adhesive Address Labels for Typewriters by Universal', 14.62, 2, 0.0, 6.8714)
('US-2015-108966', '2015-10-11', '2015-10-18', 'Standard Class', 'SO-20335', "Sean O'Donnell", 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', '33311', 'South', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 957.5775, 5, 0.45, -383.031)
('US-2015-108966', '2015-10-11', '2015-10-18', 'Standard Class', 'SO-20335', "Sean O'Donnell", 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', '33311', 'South', 'OFF-ST-10000760', 'Office Supplies', 'Storage', "Eldon Fold 'N Roll Cart System", 22.368, 2, 0.2, 2.5164)

In [3]:
result = cur.execute("SELECT * FROM returns LIMIT 4;")
for row in result:
    print(row)

('Yes', '2017-09-19', 'CA-2017-153822', 'AB-10105', 'Adrian Barton')
('Yes', '2017-04-25', 'CA-2017-129707', 'LH-16750', 'Larry Hughes')
('Yes', '2014-12-29', 'CA-2014-152345', 'ST-20530', 'Shui Tom')
('Yes', '2015-12-05', 'CA-2015-156440', 'MH-17620', 'Matt Hagelstein')

### Select Rows and Columns

In [4]:
cur.execute('''SELECT order_date,
order_id,
product_name,
sales,
quantity from orders LIMIT 5;
''')
for row in cur:
    print(row)

('2016-11-08', 'CA-2016-152156', 'Bush Somerset Collection Bookcase', 261.96, 2)
('2016-11-08', 'CA-2016-152156', 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 731.94, 3)
('2016-06-12', 'CA-2016-138688', 'Self-Adhesive Address Labels for Typewriters by Universal', 14.62, 2)
('2015-10-11', 'US-2015-108966', 'Bretford CR4500 Series Slim Rectangular Table', 957.5775, 5)
('2015-10-11', 'US-2015-108966', "Eldon Fold 'N Roll Cart System", 22.368, 2)

### Defining Relational Databases

In [5]:

cur.execute('''select city,state,region 
from orders LIMIT 10;''')
for row in cur:
    print(row)

('Henderson', 'Kentucky', 'South')
('Henderson', 'Kentucky', 'South')
('Los Angeles', 'California', 'West')
('Fort Lauderdale', 'Florida', 'South')
('Fort Lauderdale', 'Florida', 'South')
('Los Angeles', 'California', 'West')
('Los Angeles', 'California', 'West')
('Los Angeles', 'California', 'West')
('Los Angeles', 'California', 'West')
('Los Angeles', 'California', 'West')

### Aliasing the result

In [6]:
cur.execute('''SELECT
city AS City,state AS State,postal_code AS 'ZIP Code'
from orders LIMIT 10''')

for row in cur:
    print(row)

('Henderson', 'Kentucky', '42420')
('Henderson', 'Kentucky', '42420')
('Los Angeles', 'California', '90036')
('Fort Lauderdale', 'Florida', '33311')
('Fort Lauderdale', 'Florida', '33311')
('Los Angeles', 'California', '90032')
('Los Angeles', 'California', '90032')
('Los Angeles', 'California', '90032')
('Los Angeles', 'California', '90032')
('Los Angeles', 'California', '90032')

In [7]:
#### Comments

In [8]:
#### Query in correct order
cur.execute('''SELECT city, state, postal_code, country
  FROM orders LIMIT 4;''')
for row in cur:
    print(row)

('Henderson', 'Kentucky', '42420', 'United States')
('Henderson', 'Kentucky', '42420', 'United States')
('Los Angeles', 'California', '90036', 'United States')
('Fort Lauderdale', 'Florida', '33311', 'United States')